<h5 class="alert alert-info text-center">Bienvenido {{dataToSend.user}}! 
    <form action="/users/exit" method="post">
        <input type="submit" class="m-4 btn-dark btn" value="Exit">
    </form>
</h5>