<div class="d-flex flex-column justify-content-around container-sm my-5 p-4 shadow rounded-3">
  <h2 class="my-3 border-bottom ">Welcome!</h2>
  <form action="/users/login" method="post" class="d-flex flex-column justify-content-around border-bottom">
    <h4 class="mt-3">Log-in</h4>
    <input class="mt-2"type="text" name="username" placeholder="User"/>
    <input class="mt-2"type="text" name="password" placeholder="Password"/>
    <button type="submit" class="btn btn-outline-secondary mt-5">Sign in!</button>
  </form>
  <hr>
  <button class="btn btn-outline-secondary w-25" onclick="window.location.href='/users/reg'">Registration Page</button>
</div>

    