<div class="d-flex flex-column justify-content-around container-sm my-5 p-4 shadow rounded-3">
  <h2 class="my-3 border-bottom ">Welcome to registration!</h2>
  <form action="/users/reg" method="post" class="d-flex flex-column justify-content-around border-bottom"> 
    <div class="d-flex align flex-wrap justify-content-center flex-row p-0">
      <input class="m-2" type="text" name="email" placeholder="User"/>
      <input class="m-2" type="text" name="password" placeholder="Password"/>
      <input class="m-2" type="text" name="realname" placeholder="Real Name"/>
      <input class="m-2" type="text" name="address" placeholder="Address"/>
      <input class="m-2" type="number" name="age" placeholder="Age"/>
      <input class="m-2" type="number" name="phone" placeholder="Phone Number"/>
      <input class="m-2" type="text" name="photo" placeholder="IMGURL"/>
    </div>
    <button type="submit" class="btn btn-outline-secondary mt-3">Sign Up!</button>
  </form>
  <hr>
  <button class="btn btn-outline-secondary w-25" onclick="toLogin()">Log-in Page</button>
</div>

<script>

function toLogin() {
    window.location.href='/users/login'
}

</script>


    
    