<h5 class="alert alert-danger text-center ">User Error {{err}}!
    <br>
    <button id="backBtn" class="btn btn-outline-secondary w-25" onclick="toLogin()" >Go Back</button>
</h5>

<script>

function toLogin() {
    window.location.href='/users/login'
}

</script>